/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 3.5rem;
}

h3 {
    font-size: 3rem;
    font-weight: bold;
}

h4 {
    font-size: 2.5rem;
    font-weight: bold;
}

h5 {
    font-size: 2rem;
    font-weight: 600;
}

h6 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-size: 1.2rem;
    font-weight: 400;
}

a {
    display: inline-block;
    font-size: 1.3rem;
}

a:hover { 
    text-decoration: underline;
}

html {
    font-size: 16px;
    font-family: 'Source Sans Pro';

    scroll-behavior: smooth;
}

body {
    background: #000;
}

.hero {
    height: 100vh;
}

.intro_video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.innovation {
    height: 100vh;
    max-width: 1100px;
    margin: 0 auto;
    color: #FFFAFA;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innovation_text {
    width: 80%;
}

.innovation_text p {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.innovation_text h2 {
    margin-top: 0.5rem;
    background: -webkit-linear-gradient(#00ff0e,#03a80b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.innovation_text h6 {
    margin-top: 1rem;
    color: #A1A1A6;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.innovation_text a {
    margin-top: 1rem;
    color: #00dc0b;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.macbook {
    height: 100vh;
    background: #FFFFFF;
}

.macbook_video {  
    height: 100%;
    width: 100%;
    object-fit: fill;
    border: 0;
    outline: none;
    clip-path: inset(0px 0px 1px 0px);
}


.responsivity {
    height: 70vh;
    margin: 0 auto;
    color: #1D1D1F;
    background: #FFFFFF;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.responsivity_container {
    max-width: 1100px;
    margin: 0 auto;
}

.responsivity_text {
    width: 80%;
}

.responsivity_text p {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.responsivity_text h2 {
    margin-top: 0.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}

.responsivity_text h6 {
    margin-top: 1rem;
    color: #A1A1A6;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);

}

.responsivity_text a {
    margin-top: 1rem;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 0;
    transform: translateY(100px);
}
